a {
    color: blue;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

header {
    background-color: #4fb1e3; /* Color de fondo */
    padding: 2px 0; /*Espacio interno arriba y abajo */
    margin: 0; /* Eliminar margen */
    position: fixed; /* Fijar en la parte superior */
    width: 100%; /* Ancho completo */
    top: 0; /* Alinear en la parte superior */
    z-index: 1000; /* Índice de apilamiento */
    text-align: center;
}
nav {
    display: flex; /* Usar flexbox para alinear los elementos internos */
    align-items: center; /* Centrar verticalmente los elementos */
    gap: 20px; /* Espacio entre los elementos de navegación */
    justify-content: right;
    padding-right: 40px; /* Espacio en la parte derecha */
    font-size: 20px;
}

header section{
    display: flex; /* Usar flexbox para alinear los elementos internos */
    align-items: center; /* Centrar verticalmente los elementos */
    justify-content: left;
    padding-left: 20px;

}

h1 {
  color: blue; /* Cambia el color del texto a azul */
  font-size: 24px; /* Cambia el tamaño de fuente a 24px */
  text-align: center; /* Centra el texto horizontalmente */
  /* Puedes agregar más propiedades CSS según tus necesidades */
}

html {
    height: 100%;
  }
body {
    margin:0;
    padding:0;
    font-family: sans-serif;
    background: #243b55;
  }
section {
  background-color: #000; /* Puedes cambiar el color de fondo aquí */
  color: #fff; /* Cambia el color del texto para que sea legible en un fondo oscuro */
}

/* Tittle de el login */

  .login-box {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 400px;
    padding: 40px;
    transform: translate(-50%, -50%);
    background: rgba(0,0,0,.5);
    box-sizing: border-box;
    box-shadow: 0 15px 25px rgba(0,0,0,.6);
    border-radius: 10px;
  }
  
  .login-box h2 {
    margin: 0 0 30px;
    padding: 0;
    color: #fff;
    text-align: center;
  }
  
  .login-box .user-box {
    position: relative;
  }
  
  .login-box .user-box input {
    width: 100%;
    padding: 10px 0;
    font-size: 16px;
    color: #fff;
    margin-bottom: 30px;
    border: none;
    border-bottom: 1px solid #fff;
    outline: none;
    background: transparent;
  }
  .login-box .user-box label {
    position: absolute;
    top:0;
    left: 0;
    padding: 10px 0;
    font-size: 16px;
    color: #fff;
    pointer-events: none;
    transition: .5s;
  }
  
  .login-box .user-box input:focus ~ label,
  .login-box .user-box input:valid ~ label {
    top: -20px;
    left: 0;
    color: #03e9f4;
    font-size: 12px;
  }
  
  .btn-animation {
    position: relative;
    display: inline-block;
    padding: 10px 20px;
    background-color: #243b55; 
    color: #03e9f4;
    font-size: 16px;
    text-decoration: none;
    text-transform: uppercase;
    overflow: hidden;
    transition: .5s;
    margin-top: 40px;
    letter-spacing: 4px
  }
  
  .btn-animation:hover {
    background: #03f44b;
    color: #ffffff;
    border-radius: 5px;
    box-shadow: 0 0 5px #03e9f4,
                0 0 25px #03e9f4,
                0 0 50px #03e9f4,
                0 0 100px #03e9f4;
  }
  
  .btn-animation span {
    position: absolute;
    display: block;
  }
  
  .btn-animation span:nth-child(1) {
    top: 0;
    left: -100%;
    width: 100%;
    height: 2px;
    background: linear-gradient(90deg, transparent, #03e9f4);
    animation: btn-anim1 1s linear infinite;
  }
  
  @keyframes btn-anim1 {
    0% {
      left: -100%;
    }
    50%,100% {
      left: 100%;
    }
  }
  
  .btn-animation span:nth-child(2) {
    top: -100%;
    right: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(180deg, transparent, #03e9f4);
    animation: btn-anim2 1s linear infinite;
    animation-delay: .25s
  }
  
  @keyframes btn-anim2 {
    0% {
      top: -100%;
    }
    50%,100% {
      top: 100%;
    }
  }
  
  .btn-animation span:nth-child(3) {
    bottom: 0;
    right: -100%;
    width: 100%;
    height: 2px;
    background: linear-gradient(270deg, transparent, #03e9f4);
    animation: btn-anim3 1s linear infinite;
    animation-delay: .5s
  }
  
  @keyframes btn-anim3 {
    0% {
      right: -100%;
    }
    50%,100% {
      right: 100%;
    }
  }
  
  .btn-animation span:nth-child(4) {
    bottom: -100%;
    left: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(360deg, transparent, #03e9f4);
    animation: btn-anim4 1s linear infinite;
    animation-delay: .75s
  }
  
  @keyframes btn-anim4 {
    0% {
      bottom: -100%;
    }
    50%,100% {
      bottom: 100%;
    }
  }


  