<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Excel to HTML Table</title>
    <link rel="stylesheet" type="text/css" href="https://bootswatch.com/5/yeti/bootstrap.min.css">
</head>

<header style="background-color: #97e282;">
    <div>
        <h2 style="display: flex; align-items: center">App to graphic Excel
        </h2>
    </div>
    <div style="display: flex; justify-content: right">
        <nav style="display: flex; justify-content: right;padding-right: 40px;gap: 20px">
            <a href="">main</a>
            <a href="">graphic</a>
            <a href="">edit</a>
            <a href="">other</a>
        </nav>
    </div>
</header>
{%block content%}
{%endblock%}
</html>