<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Graphic Excel table</title>
    <link rel="stylesheet" type="text/css" href="https://bootswatch.com/5/yeti/bootstrap.min.css">
</head>

<header>
    <div style="text-align: center;">
        <h2>Software qp_code</h2>
    </div>
    <div>
        <nav style="display: flex; justify-content: right;padding-right: 40px;gap: 20px">
            <a href="./excelUpload">ExcelUpload</a>
            <a href="">Calculator</a>
            <a href="">Edit</a>
            <a href="">Other</a>
        </nav>
    </div>
</header>
{%block content%}
{%endblock%}
</html>