{% extends "base.html"%}

{% block content %}
<div class="container mt-5">
    <h1 style="color: blue; font-size: 40px; text-align: center; font-weight: bold;">Aplicación para graficar un Archivo excel</h1>
    <form method="POST" enctype="multipart/form-data" action="">
        <div class="form-group">
            <input type="file" name="file" id="file" class="form-control-file">
        </div>
        <p></p>
        <button type="submit">Cargar Archivo</button>
    </form>
    
    <!-- Verificar si la variable html_table tiene contenido -->
    {% if html_table %}
    <h2>Cuadro generada:</h2>
    <!-- Muestra el contenido de la tabla html-table -->
    {{ html_table | safe }}
    {% endif %}
    
    <!-- Aquí muestra la imagen generada por Matplotlib -->
    {% if img_base64 %}
    <div class="container mt-5">
        <h1>Gráfico Resumen:</h1>
        <img src="data:image/png;base64,{{ img_base64 }}" alt="Matplotlib Chart" class="img-fluid">
    </div>
    {% endif %}

        
    <!-- <h1>Gráfico</h1> -->
    <!-- <img src="data:image/png;base64,{{ img_base64 }}" alt="Gráfico de distribución de personal"> -->

    <br><br>
    <a href="{{ url_for('graphics') }}">Ver Gráfico</a>
{%endblock%}